
<h1>Reset Password</h1>

<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-message">
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :password %>
    <br>
    <%= form.password_field :password, placeholder: "password" %>
  </div>
  <br>
  <div class="field">
    <%= form.label :password_confirmation %>
    <br>
    <%= form.password_field :password_confirmation, placeholder: "password" %>
  </div>
  <br>
  <div class="action">
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
