<h1>To Do List</h1>

<%= link_to "新增任務", new_task_path %>

<hr>

<% @tasks.each do |task| %>
  <div class="task">
    <h2 class="task-title">
      <%= link_to task.title, task %>
      <%= link_to "編輯", edit_task_path(task) %>
      <%= link_to "刪除", task, method: 'delete', data: { confirm: '確定刪除？' } %>
    </h2>
    <div class="task-body">
      <p><%= task.content %></p>
    </div>
  </div>
<% end %>
