<h1>To Do List</h1>

<%= link_to "新增任務", new_task_path %>

<form action="/tasks/search" method="get">
  <input type="text" name="keyword" placeholder="查詢 代辦事項/標籤/進度">
  <button type="submit">搜尋</button>
</form>

<hr>

<%= paginate @tasks %>

<hr>

<table>
  <thead>
    <tr class="row">
      <th class="priority"><%= sort_link(@q, :priority, '優先', default_order: :desc) %></th>
      <th class="task">待辦事項</th>
      <th class="tag">標籤</th>
      <th class="duedate"><%= sort_link(@q, :due_date, '截止日期', default_order: :desc) %></th>
      <th class="status">進度</th>
      <th class="edit">編輯</th>
      <th class="delete">刪除</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <th><%= task.priority %></th>
      <th><%= link_to task.title, task %></th>
      <th><%= raw task.tags.map(&:name).join(', ') %></th>
      <th><%= task.due_date %></th>
      <th><%= task.status %></th>
      <th><%= link_to "編輯", edit_task_path(task) %></th>
      <th><%= link_to "刪除", task, method: 'delete', data: { confirm: '確定刪除？' } %></th>   
    </tr>
  <% end %>
  </tbody>
</table>
