<h1><%= @task.title %></h1>
<p>
  <%= @task.content %>
</p>
<hr>
<%= form_for(@note, url: task_notes_path(@task), remote: true) do |f|%>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<ul class="notes">
  <%= render @notes %>
</ul>