<div class="container">
  <h2>Sign Up</h2>

  <%= form_with model: @user, url: sign_up_path do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= form_with model: @user, url: sign_up_path do |form|%>
    <div class="field">
      <%= form.label :email %>
      <br>
      <%= form.text_field :email, placeholder: "example@mail.com" %>
    </div>
    <div class="field">
      <%= form.label :password %>
      <br>
      <%= form.password_field :password, placeholder: "password" %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %>
      <br>
      <%= form.password_field :password_confirmation, placeholder: "password" %>
    </div>
    <br>
    <div class="action">
      <%= form.submit "Sign Up" %>
    </div>
  <% end %>
</div>