<h1>編輯使用者</h1>
<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_for([:admin, @user]) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <br>
    <%= f.text_field :password %>
  </div>
  <br>
  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin, {}, "1", "0" %>
  </div>
  <br>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>