<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <% if Current.user %>
        <p><%= Current.user.email %></p>
        <a class="navbar-brand">
          <%= link_to "Task", tasks_path %>
        </a>
        <% if Current.user.admin? %>
        <a class="navbar-brand">
          <%= link_to 'Admin', admin_users_path %>
        </a>
        <% end %>
        <a>
          <%= button_to "Logout", logout_path, method: :delete %>
        </a>
      <% else %>
        <a class="navbar-brand">
          <%= link_to "Sign Up", sign_up_path %>
        </a>
        <a class="navbar-brand">
          <%= link_to "Sign In", sign_in_path %>
        </a>
      <% end %>
    </div>
  </nav>
</div>
