<h1>後台管理系統</h1>

<table>
  <thead>
    <tr class="row">
      <th class="id">ID</th>
      <th class="email">email</th>
      <th class="admin">管理員</th>
      <th class="edit">編輯</th>
      <th class="delete">刪除</th>
    </tr>
  </thead>
  <tbody>
  <% User.all.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <th><%= user.email %></th>
      <th><%= user.admin %></th>
      <th><%= link_to "編輯", edit_admin_user_path(user) %></th>
      <th><%= link_to "刪除", admin_user_path(user), method: 'delete', data: { confirm: '確定刪除？' } %></th>   
    </tr>
  <% end %>
  </tbody>
</table>